.parent {
  display: flex;

  gap: 10px;
  /* justify-content: center; */
  /* justify-content: flex-start; */
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 100vh;
  @media (max-width: 920px) {
    flex-direction: column;
    background-color: blue;
  }
}
.child {
  width: 200px;
  height: 200px;
  background-color: red;
  margin-bottom: 20px;
}
